<div class="field image-upload">
  <span class="field-label">Image</span>
  <div class="image-upload__drop" role="button" tabindex="0" aria-label="Choose image">
    <img class="image-upload__icon" src="" alt="" data-icon="upload">
    <span class="image-upload__hint">Drop image or click</span>
    <img class="image-upload__img" data-upload-image alt="">
    <input type="file" class="upload-file-input" accept="image/*" tabindex="-1" aria-hidden="true">
  </div>
  <div class="input-wrap input-wrap--label image-upload__file">
    <span class="image-upload__name" data-upload-name></span>
    <span class="upload-meta" data-upload-meta></span>
    <button type="button" class="upload-clear" data-upload-clear aria-label="Remove image" hidden><img src="" alt="" data-icon="close"></button>
  </div>
</div>
